<% layout('/layouts/boilerplate') -%>
    <script>
        const mapToken = "<%= process.env.MAP_KEY %>";
        const DBlist = <%- JSON.stringify(list) %>;
    </script>

    <body class="">
        <h2>
            <%= list.title %>
        </h2>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="">
                    <img src="<%=list.image.url%>" style="height: 20rem;" class="card-img-top rounded-3" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card-body">
                    <p class="card-text">
                        <%= list.description %>
                    </p>
                    <b>&#8377; <%= list.price.toLocaleString("en-IN") %>/ night</b>
                    <p>
                        <%= list.location.name %>, <%= list.country %>
                    </p>
                    <div class="">
                        <p class="">Owned by- <i>@<%= list.owner.username %></i></p>
                    </div>
                    <% if (currentUser && currentUser._id.equals(list.owner._id)) { %>
                        <div class="col-sm-7 btn-group mb-3">
                            <form action="/listings/<%= list.id %>/update" method="get"><button type="submit"
                                    class="btn me-2 btn-sm border-dark btn-outline-secondary">Update</button></form>
                            <form action="/listings/<%= list.id %>?_method=DELETE" method="post"><button
                                    type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                            </form>
                        </div>
                        <% }else{ %>
                            <div class="col-sm-7 btn-group mb-3">
                                <form action="/listings/<%= list.id %>/" method="get"><button type="submit"
                                        class="btn btn-md btn-danger fw-bold ps-5 pe-5">Reserve</button></form>
                            </div>
                            <% } %>
                </div>
                <div class="p-3 bg-body rounded shadow-sm">
                    <form id="form" novalidate class="needs-validation " action="/listings/<%= list.id %>/reviews"
                        method="post">
                        <div class="row">
                            <div class="col-sm-3">Rating Star:</div>
                            <div class="col-sm-9">
                                <fieldset class="starability-grow">
                                    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0"
                                        checked aria-label="No rating." />
                                    <input type="radio" id="first-rate1" name="reviews[rating]" value="1" />
                                    <label for="first-rate1" title="Terrible">1 star</label>
                                    <input type="radio" id="first-rate2" name="reviews[rating]" value="2" />
                                    <label for="first-rate2" title="Not good">2 stars</label>
                                    <input type="radio" id="first-rate3" name="reviews[rating]" value="3" />
                                    <label for="first-rate3" title="Average">3 stars</label>
                                    <input type="radio" id="first-rate4" name="reviews[rating]" value="4" />
                                    <label for="first-rate4" title="Very good">4 stars</label>
                                    <input type="radio" id="first-rate5" name="reviews[rating]" value="5" />
                                    <label for="first-rate5" title="Amazing">5 stars</label>
                                </fieldset>
                                <!-- <input type="range" class="form-range" min="1" max="5" value="0"
                                        id="rating" name="reviews[rating]"> -->
                            </div>
                        </div>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm" placeholder="Write your Review" id="comment"
                                name="reviews[comment]" required>
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <% if (list.reviews.length> 0) { %>
            <div class="my-3 p-3 bg-body rounded shadow-sm">
                <h6 class="border-bottom pb-2 mb-0">All Reviews</h6>
                <div class="row row-cols-1 row-cols-md-3">
                    <% for( review of list.reviews) { %>
                        <div class="col d-flex text-body-secondary pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="5" height="55"
                                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%"
                                    fill="#007bff" dy=".3em"></text>
                            </svg>
                            <div class="pb-3 mb-0 small lh-sm border-bottom" style="width:100%">
                                <strong class="d-block text-gray-dark">@<%= review.author.username %></strong>
                                <div>
                                    <p class="starability-result" data-rating="<%= review.rating %>">
                                    </p>
                                    <!-- Rating: <b>
                                    <%= review.rating %> <i class="fa-solid fa-star fa-sm" style="color: #ffa600;"></i>
                                </b><br> -->
                                    Comment: <%= review.comment %>
                                </div>
                            </div>

                            <% if (currentUser && currentUser._id.equals(review.author._id)) { %>
                                <div class="dropstart">
                                    <span class="btn pt-0" type="" data-bs-toggle="dropdown" aria-expanded="false"><i
                                            class="fa-solid fa-lg fa-caret-left"></i></span>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <form action="">
                                                <button class="dropdown-item btn">Edit</button>
                                                <!-- <div class="input-group input-group-sm ">
                                            <input type="text" class="form-control" aria-label="Sizing example input"
                                                aria-describedby="inputGroup-sizing-sm" placeholder="Rewrite review" id="comment"
                                                name="reviews[comment]" required>
                                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Post</button>
                                        </div> -->
                                            </form>
                                        </li>
                                        <li>
                                            <form
                                                action="/listings/<%= list.id %>/reviews/<%= review.id %>/delete?_method=DELETE"
                                                method="post"><button class="dropdown-item btn">Delete</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                                <% } %>
                        </div>
                        <% } %>
                </div>
            </div>
            <% } %>

                <!-- map -->
                <div id="markers-on-the-map" class="my-3 p-3 bg-body rounded shadow-sm">
                    <h6 class="pb-2 mb-0">Location</h6>
                    <div class="border" style="height: 480px; " id="map"></div>
                </div>
    </body>