<% layout('/layouts/boilerplate') -%>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create new data</title>
    </head>

    <body>
        <div class="container col-md-8">
            <h2>Update Data</h2>
            <ul>
                <form id="form" novalidate class="needs-validation" method="POST"
                    action="/listings/<%= list.id %>/update?_method=PUT" enctype="multipart/form-data">
                    <div class="row">
                        <div class="">
                            <li>Title: <input class="form-control" type="text" name="listing[title]"
                                    value="<%= list.title %>" required>
                                <div class="valid-feedback">Look good</div>
                                <div class="invalid-feedback">Please enter a Title.</div>
                            </li>
                        </div>
                        <div class="">
                            <li>Description: <input class="form-control" type="text" name="listing[description]"
                                    value="<%=list.description %>" required>
                                <div class="valid-feedback">Look good</div>
                                <div class="invalid-feedback">Please enter a Description.</div>
                            </li>
                        </div>
                        <div class="">
                            <li>
                                <!-- Image URL/Link: <input class="form-control" type="text" name="listing[image.url]"
                                    value="<%= list.image.url %>" required>
                                <div class="valid-feedback">Look good</div>
                                <div class="invalid-feedback">Please enter Image URL/Link.</div> -->

                                <!-- Image URL /  -->
                                Upload image:
                                <span class="dropstart">
                                    <span class="btn btn-sm pt-0" type="" data-bs-toggle="dropdown"
                                        aria-expanded="false">Preview image</span>
                                    <ul class="dropdown-menu">
                                        <img src="<%=list.image.url%>" style="height: 10rem ; width: 15rem;" alt="">
                                    </ul>
                                </span>
                                <div class="row">
                                    <!-- <div class="col-md-6"><input class="form-control col-8" type="text"
                                            name="listing[image.url]" value="<%= list.image.url %>" >
                                    </div> -->
                                    <div class="">
                                        <input name="listing[image]" type="file" class="form-control" id="">
                                    </div>
                                </div>

                            </li>
                        </div>
                        <div class="col-md-4">
                            <li>Price(In Rupice): <input class="form-control" type="number" min="0"
                                    name="listing[price]" placeholder="In Rupice" value="<%= list.price %>" required>
                                <div class="valid-feedback">Look good</div>
                                <div class="invalid-feedback">Please enter a Price.</div>
                            </li>
                        </div>
                        <div class="col-md-8">
                            <li>Country: <input class="form-control" type="text" name="listing[country]"
                                    value="<%= list.country %>" required>
                                <div class="valid-feedback">Look good</div>
                                <div class="invalid-feedback">Please enter Country.</div>
                            </li>
                        </div>
                        <div class="">
                            <li>Location: <input class="form-control" type="text" name="listing[location]"
                                    value="<%= list.location.name %>" required>
                                <div class="valid-feedback">Look good</div>
                                <div class="invalid-feedback">Please enter Location.</div>
                            </li>
                        </div>
                        <button type="submit" class="btn btn-sm border-dark mt-2 btn-outline-secondary">Update</button>
                    </div>
                </form>
            </ul>
        </div>
    </body>

    </html>
