<% layout('/layouts/boilerplate') -%>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create new data</title>
    </head>

    <body>
        <div class="container col-md-8">
            <h2>Update Data</h2>
            <ul>
                <form id="form" method="post" action="/listings/addUpdate/<%= list.id %>?_method=PUT">
                    <div class="row">
                        <div class="">
                            <li>Title: <input class="form-control" type="text" name="listing[title]"
                                    value="<%= list.title %>"></li>
                        </div>
                        <div class="">
                            <li>Description: <input class="form-control" type="text" name="listing[description]"
                                  value="<%=list.description %>"></input></li>
                        </div>
                        <div class="">
                            <li>Image URL/Link: <input class="form-control" type="text" name="listing[image.url]"
                                    value="<%= list.image.url %>"></li>
                        </div>
                        <div class="col-md-4">
                            <li>Price(In Rupice): <input class="form-control" type="number" min="0" name="listing[price]"
                                    placeholder="In Rupice" value="<%= list.price %>"></li>
                        </div>
                        <div class="col-md-8">
                            <li>Country: <input class="form-control" type="text" name="listing[country]"
                                    value="<%= list.country %>"></li>
                        </div>
                        <div class="">
                            <li>Location: <input class="form-control" type="text" name="listing[location]"
                                    value="<%= list.location %>"></li>
                        </div>
                        <button type="submit" class="btn btn-sm border-dark mt-2 btn-outline-secondary">Update</button>
                    </div>
                </form>
            </ul>
        </div>
    </body>

    </html>